# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.idea

# Ignore backup files
*~

# Go build and test outputs
*.out
*.test

# Dependency directories (for Go modules)
vendor/

# Go module files
go.sum